
<h2>Add New Products</h2> </br>

 
<form action="/products-admin" method="post">
        <h1>product name</h1>
        <input name="title" type="text" placeholder="product name">
        <h1>product Price</h1>
        <input name="price" type="number" placeholder="product Price">
        <h1>product rate</h1>
        <input name="rating" type="text" placeholder="rate">
        <h1> comments num</h1>
        <input name="commentCount" type="text" placeholder="how many comment">
        <h1>Path</h1>
        <input name="urlPath" type="text" placeholder="Path">

        <button type="submit">Add item</button>


 </form>   

 <br> <br>