<div class="products">
    <h2 class="product__title">{{product.title}}</h2>
    <div class="product__price">${{product.price}}</div>
    <div class="product__rating">
        Rating: {{product.rating}}
    </div>
    <div class="product__reviews">{{product.commentCount}} comments</div>
</div>